@font-face {
    font-family: Robotolight; 
    src: url(../fonts/Robotolight.ttf);
}
@font-face {
    font-family: Robotothin;
    src: url(../fonts/Robotothin.ttf); 
}
@font-face {
    font-family: sansationlight; 
    src: url(../fonts/sansationlight.ttf); 
}